{% extends "portal/base_driver.html" %}
{% block content %}
<div class="row">
		<div class="col-md-12">
			<h1>Cart</h1>
		</div>
</div>
{%if cartItems%}
<table class="table">
		<tr>
			<th scope="col">Product</th>
			<th scope="col">Sponsor</th>
			<th scope="col">Price</th>
			<th scope="col">Date Placed</th>
		</tr>
	{% for item in cartItems reversed %}
	<tbody>
			<tr>
				<td>{{ item.productName }}</td>
				<td>{{ item.product.sponsor_company }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.date }}</td>
				<td>{{ item.date }}</td>
				<td>
					<form action="{% url 'Cart' current_page_number %}" method="post">
							{% csrf_token %}
							<button id="product-chosen" type="submit" name="product-chosen" value="{{ item.id }}"  class="btn btn-success">Remove from Cart</button>
						</form>
				</td>
			</tr>

	{% endfor %}
			<tr>
				<td>
					<form action="{% url 'Order-Placed' %}" method="post">
							{% csrf_token %}
							<button id="place-order" type="submit" name="place-order" value="{{ item.id }}"  class="btn btn-success">Place Order</button>
						</form>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

				</tr>
		</tbody>
	</table>
{% if paginated %}
	<div class="row">
		{% if previous %}
			<a class="btn btn-outline-info mb-4" href="{% url 'Cart' previous_page_number %}">Previous</a>
		{%endif%}
		{% if next %}
			<a class="btn btn-outline-info mb-4" href="{% url 'Cart' next_page_number %}">Next</a>
		{%endif%}
	</div>
{%endif%}
{% else %}
	{% if previous %}
			<a class="btn btn-outline-info mb-4" href="{% url 'Cart' previous_page_number  %}">Previous</a>
	{% else %}
		<p class="text-secondary">No Orders placed</p>
	{%endif%}
{% endif %}
{% endblock content%}