{% extends "portal/base_sponsor.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12 d-flex justify-content-center">
		<h1>Sponsor Catalog</h1>
		<!-- TODO: WANT TO ADD IN SPONSOR NAME HERE, SOME KIND OF WELCOME MESSAGE WOULD BE NICE -->
	</div>
</div>

<div class="row">
	<!-- <div class="col-md-6">-->
	<h2 class="media-heading d-flex justify-content-center">Your drivers can currently buy:</h2>
	{% if items %}
	<table class="table">
		<tr>
			<th scope="col"></th>
			<th scope="col">Product</th>
			<th scope="col">Price</th>
			<th scope="col"></th>
			<th scope="col">Description</th>
			<th scope="col">Tags</th>
		</tr>
		{% for item in items reversed %}
		<tbody>
			<tr>
				<td><img class="Product-Image" src="{{item.image}}" width="170" height="135"> </td>
				<td>{{ item.title }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.currency_code }}</td>
				<td>{{ item.description }}</td>
				<td>{{ item.tags }}</td>
				<td>
					<form action="{% url 'catalog-sponsor' %}" method="post">
						{% csrf_token %}
						<button id="product-chosen" type="submit" name="product-chosen" value="{{ item.listing_id }}" class="btn btn-success">Remove from Catalog</button>
					</form>
				</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% else %}
	<p class="text-secondary">No Point History To Display</p>
	{% endif %}
</div>
<!-- </div> -->
<!-- This is updating sponsor info
<div class="row">
	<div class="col-md-4">
		<div class="content-section">
			<div class="media-heading">
				<p class="text-secondary">{{ user.username }}</p>
				<p class="text-secondary">{{ user.email }}</p>
				<a href="{% url 'update-info' %}">Edit Profile Information</a>
			</div>
		</div>
	</div>
</div> -->
{% endblock content%}
