<!-- Load styling -->
{% extends "portal/base_sponsor.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="col-md-12">
    <h2 class="media-heading d-flex justify-content-center">Your Driver Report</h2>
    <h3>Drivers</h3>
    {% if driver_points %}
      {% for item in driver_points %}
        <h5>Driver: {{ item.driver }}</h5>
        <p>Point Total: {{ item.driver_points }}</p>
      {% endfor %}
    {% else %}
      <p class="text-secondary">No Drivers To Display</p>
    {% endif %}
    <h4>Driver Point History</h4>
    {% if drivers %}
      <table class="table">
        <tr>
          <th scope="col">Driver Username</th>
          <th scope="col">Sponsor Username</th>
          <th scope="col">Date</th>
          <th scope="col">Point Amount</th>
          <th scope="col">Reason</th>
        </tr>
        {% for item in drivers reversed %}
          <tbody>
            <tr>
              <td>{{ item.username }}</td>
              <td>{{ item.sponsor_username }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.points }}</td>
              <td>{{ item.reason }}</td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
    {% else %}
      <p class="text-secondary">No Drivers To Display</p>
    {% endif %}
  </div>
{% endblock content%}
