{% extends "portal/base_driver.html" %}
{% block content %}

<div class="row">
		<div class="col-md-12">
			<h1>Driver catalog</h1>
		</div>
</div>
<div class ="row">
{% if sponsors %}
	<table class="table">
		<tr>
			<th scope="col">Sponsor</th>
			<th scope="col">Points</th>
			<th scope="col">Catalog link</th>
		</tr>
		{% for sponsor in sponsors%}
		<tbody>
			<tr>
				<td>{{ sponsor.sponsor_company }}</td>
				<td>{{ sponsor.driver_points }}</td>
				<td><a href="{% url 'driver-product-home' 8 1 sponsor.sponsor_company %}">products</a></td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% else %}
	<p class="text-secondary">No Sponsors To Display</p>
	{% endif %}
</div>
{% endblock content%}