{% extends "portal/base_driver.html" %}
{% block content %}
<div class="row">
		<div class="col-md-12">
			<h1>Order History</h1>
		</div>
</div>
{%if cartItems%}
<table class="table">
		<tr>
			<th scope="col">Product</th>
			<th scope="col">Sponsor</th>
			<th scope="col">Price</th>
			<th scope="col">Date Placed</th>
		</tr>
	{% for item in cartItems reversed %}
	<tbody>
			<tr>
				<td>{{ item.productName }}</td>
				<td>{{ item.product.sponsor_company }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.date }}</td>
				<td></td>
			</tr>

	{% endfor %}
		</tbody>
    </table>
{% else %}
	<p class="text-secondary">No Orders placed</p>
	{% endif %}
{% endblock content%}