{% extends "portal/base_sponsor.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-12 d-flex justify-content-center">
			<h1>Add Items To Your Catalog</h1>
		</div>
	</div>

	<div class="row">
		<form action="{% url 'sponsor-list-item' %}" method="post">
			<label for="search">Search: </label>
			{% csrf_token %}
			<input id="search" type="text" name="search" value="{{ search }}" />
			<input type="submit" value="Search" />
		</form>
		<div class="col-md-12 d-flex justify-content-right">
			<p class="text-secondary d-flex justify-content-right">Currently showing results for: {{searchVal}}</p>
		</div>
		
	</div>

	<div class="row">
		<!-- <div class="col-md-6">-->
		{% if items %}
		<table class="table">
			<tr>
				<th scope="col">Product</th>
				<th scope="col">Price</th>
				<th scope="col"></th>
				<th scope="col">Description</th>
			</tr>
			{% for item in items reversed %}
			<tbody>
				<tr>
					<td><img class="Product-Image" src="{{item.image}}" width="170" height="135"> </td>
					<td>{{ item.title }}</td>
					<td>{{ item.price }}</td>
					<td>{{ item.currency_code }}</td>
					<td>{{ item.description }}</td>
					<td>
						<form action="{% url 'sponsor-list-item' %}" method="post">
							{% csrf_token %}
							<button id="product-chosen" type="submit" name="product-chosen" value="{{ item.listing_id }}" class="btn btn-success">Add to Catalog</button>
						</form>
					</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
		{% else %}
		<p class="text-secondary">Look something up!</p>
		{% endif %}
	</div>
	
			<!-- This is updating sponsor info
	<div class="row">
		<div class="col-md-4">
			<div class="content-section">
				<div class="media-heading">
					<p class="text-secondary">{{ user.username }}</p>
					<p class="text-secondary">{{ user.email }}</p>
					<a href="{% url 'update-info' %}">Edit Profile Information</a>
				</div>
			</div>
		</div>
	</div> -->




{% endblock content%}
