option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "Good_Driver_Program.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "Good_Driver_Program.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static
    /public: /public
